body {
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    background-color: #fff8e8;/*#fffbd6;*/
}

.far {
    color: grey;
}

.far:hover {
    color: #cb4b16;
}

a {
    text-decoration: none;
    color: #178693;/*#2aa198;*/
}

a:hover {
    color: #cb4b16;
}

#header {
    text-align: right;
    font-weight: bold;
    margin-right: 4%;
}

#header div{
    display: inline;
    margin-left: 2%; 
    margin-right: 2%; 
}

#envelope {
    vertical-align:middle;
}

h2 {
    text-align: center;
}

hr {
    /* border-top: 1px solid #cb4b16; */
    width: 70%;
    border-style: solid;
    border: none;
    border-top: 1px solid #ddd;
}

#selfStudyList {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.selfStudyItem {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

#projectList {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.project {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.name{
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 2px; */
}

.thumbnail {
    margin: auto;
    text-align: center;
}

/* .book { */
/*     margin: auto; */
/* } */

.left {
    flex: 40%;
    /* min-width:300px; */
    /* margin-top: 3%; */
}

.right {
    margin-left: 3%;
    /* margin-top: 5%; */
}

.longDescription {
    flex: 60%;
    float: right;
    max-width: 700px;
}

.shortDescription {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    max-width: 700px;
}

.technologies {
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    color: 	#cb4b16;/*#560b5e;*/
}

#bio {
    width: 65%;
    margin: auto;
}

.bioPar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#projectH2 {
    margin-top: 120px;
}
